.songs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5vh 0;
}

.songs img {
  width: 15vw;
  min-width: 180px;
  margin: 1vw;
  filter: grayscale(100%) drop-shadow(0.5vw 0.5vh 10px #9b9b9b);
  transition: filter 0.3s ease;
}
.songs img:hover {
  filter: grayscale(0%);
}

@media screen and (max-width: 768px) {
  /* Songs album covers */
  .songs {
    margin-top: 15vh;
  }
  .songs img {
    width: 25vw;
    margin: 2vw;
    filter: grayscale(0%) drop-shadow(0.5vw 0.5vh 10px #9b9b9b);
    max-width: 10000px;
    min-width: 100px;
  }
}
